<h1 class="caption">Product List</h1>
<% if notice %>
    <p class="bg-warning">
        <%= notice %>
    </p>
<% end %>

<% for product in @products do %>
    <div class="row col-md-8">
        <p class="lead"><%= product.title %></p>
        <%= image_tag(product.image_url) %>
        <em><%= sanitize product.description %></em>
        <em><strong>Price is: </strong><%= product.price %></em>
        <%= button_to 'Add to cart', line_items_path(:product_id => product), class: 'btn btn-default', :remote => true %>
        <hr/>
    </div>
<% end %>